@media screen and (max-width: 576px) {
   
         .nav-option{
            display: none;
         }   
         .nav-hamburger{
            display: block;
                }
                .navbar{
                    display: flex;
                    justify-content: space-between;
                    }
                    .container{
                        width: 90%;
                        margin: 1rem;
                        border-radius: 1rem;
                    }
    /* banner responsive start here */
    .banner-container{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
        position: relative;
    }
    .video-tutorial{
        position: absolute;
        top: 75%;
        left: 12%;
    }
    .free-workout{
        position: absolute;
        top: 65%;
        left: 45%;
    }
    /* banner responsive end here */

    /* change your habit responsive start here */
    .change-habit{
       
        grid-template-columns: repeat(1, 1fr);
        
    }
    /* change your habit responsive end here */

/* <!-- run an extra mile responsive start here */
.run-container{
    flex-direction: column;
   
}

.run-content{
    width: 100%;
   
}
.span1{
    margin-bottom: 20px;
}
/* <!-- run an extra mile responsive end here --> */
/* bmi calculator responsive start here */
/* bmi calculator responsive end here */

/* meet our team responsive start here */
.trainer-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  
}
.trainer-container>div img{
    width: 100%;
    height: 100%;
}
/* meet our team responsive end here */

/* footer responsive start here */
.footer-container{
   
    
    grid-template-columns: repeat(1, 1fr);
}

/* fotter responsive end here */