@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* defult style */

*{
    margin: 0;
}
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}
.fitness{
    color: rgba(230, 83, 60, 1);
    font-size:2.25rem ;
    font-weight: 800;
    font-style: italic;
    
}
.span{
    color: white;
    background-color: rgba(230, 83, 60, 1);
    font-size: 18px;
    font-weight: 500;
    padding: 6px;
    border-radius: 16px;
    text-align: center;
    
}
.h2-headline{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.h3-heading{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.h4-heading{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}


/* navbar css styles start here */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-option{
    display: flex;
    justify-content: space-evenly;
    gap: 2.5rem;
    border: 1px solid rgb(227, 229, 231);
    border-radius: 16px;
    padding: 7px;
    font-size: 18px;
    line-height: normal;
    font-weight: normal;
    color: white;

}
.nav-hamburger{
    display: none;
}
/* navbar css styles end here */

/* banner css styles start here */
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    background-color: rgba(255, 255, 255, 0.1);
  
}
.banner-content{
    width: 50%;
    /* border: 1px solid greenyellow;  */
    position: relative;
}
.banner-content img{
    width: 100%;
}
.banner-heading{
  font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
    
}

/*   
  .text-shape{
    font-family: 
  }  */
   

.banner-para{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;

}
.btn-2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.download-app{
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    border: 1px solid rgba(245, 245, 245, 0.493);
    border-radius: 16px;
    text-align: center;
}

.video-tutorial{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 14px;
    gap: 10px;
    border: 1px solid rgba(245, 245, 245, 0.253) ;
    border-radius: 6px;
    background-color:rgba(255, 255, 255, 0.1);
    width: max-content;
    padding: 5px ;
    position: absolute;
    top: 67%;
    right: 30%;
}
.circle{
    border: 10px solid red;
    border-radius: 50%;
}
.tutorial{
    color:rgba(255, 255, 255, 0.5); 
 
}
.free-workout{
    font-size: 14px;
    border: 1px solid rgba(245, 245, 245, 0.253) ;
    border-radius: 6px;
    background-color:rgba(255, 255, 255, 0.1);
    width: max-content;
    padding: 5px ;
    position: absolute;
    top: 50%;
    left: 78%;
}
/* banner css styles end here */

 /* change your habit css styles start here  */
.change-habit-container{
text-align: center;
}
.change-habit img{
    border-radius: 50%;
}
.change-habit{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
   
}
.exercise-image{
    text-align: center;
}

 /* change your habit css styles end here  */

 /*  run an extra mile css styles start here --> */
 .run-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:rgba(34, 34, 34, 1);
 }
.run-content{
    width: 45%;
}
.span1{
    width: 50%;
}
.run-content img{
    width: 100%;
    border-radius: 8px;

}

 /* run an extra mile css styles end here --> */

 /* bmi calculator css styles start here */
 .bmi{
    text-align: center;
 }
 .background-color{
    background-color:rgba(34, 34, 34, 1) ;
    padding: 20px;
 }
 .bmi-container{
   display: flex;
   justify-content: space-between;
   gap: 20px;
 }
 .bmi-content{
    width: 50%;
 }
 table{
    border-collapse: collapse;
 }
 td, th{
    border: 1px solid rgba(245, 245, 245, 0.411);
    padding:20px ;
 }
 td{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
 }
 /* bmi calculator css styles end here */

 /* meet our team css styles starts here */
 .meet-our-team{
    text-align: center;
 }
.trainer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    gap: 20px;
    /* position: relative; */
}
.trainer-container>div img{
    width: 100%;
    height: 100%;
    border-radius: 12px;

}
.triner-image{
    position: relative;
}
.trainer-content{
    position: absolute;
    bottom: 10%;
   
  
}
 /* meet our team css styles end here */
